.profile-container {
    .img-container {
        width: 100px;
        height: 100px;
        overflow: hidden;
        margin: auto;

        img {
            min-width: 100px;
            min-height: 100px;
        }
    }
}
